.carousel-container {
    max-width: 300px;
    margin: 0 auto;
}

.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-item:hover .dropdown-menu {
    display: block;
}