
  <h1 class="mb-5">
    This is the Gallery <br>
    <button id="getInvolvedBtn" class="btn btn-primary" href="opportunities.html">Get Involved</button>
  </h1>
  <!-- Images used to open the lightbox -->
  <div class="row"></div>

  <!-- The Modal/Lightbox -->
  <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
      <!-- Next/previous controls -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- Caption text -->
      <div class="caption-container">
        <p id="caption"></p>
      </div>
    </div>
  </div>
